
.users-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
}

.user-ifo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  position: relative;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.message-btn {
  background-image: url(../../images/message.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  padding: 15px;
  margin-left: auto;
  margin-right: 5px;
}

.dot-online {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(7, 187, 7);
  border: 1px solid white;
}

.status {
  color: rgb(7, 187, 7);
}

.status-off {
  color: black;
}